.square{
  width:100px;
  height:100px;
  float:left;
  position:relative;
  border:2px solid black;
  margin:2px;
  padding:5px;
  text-align:center;
}

.square.empty:hover{
  background-color:steelblue;
  opacity:.5;
}

.row{
  width:-moz-fit-content;
  width:-webkit-fit-content;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}

.new-button{
  background-color:steelblue;
  color:white;
  border-radius:5px;
  padding:2px;
}

.new-button:hover{
  cursor:pointer;
}

.new-button:active{
  background-color:red;
}
